@import url('./variables.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(var(--color-principal), var(--color-terciario));
    width: 100%;
    overflow-x: hidden;
}
body {
    font-family: var(--font-family);
    line-height: 1.6;
}


/*Contenedor general*/
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}


.logo {
    text-align: center;
}

/*Estilos del nav*/
nav {
    display: flex;
    margin: var(--margin-small);
    justify-content: space-evenly;
    align-items: center;
    padding: var(--padding-small);
}

nav div img {
    display: inline-block;
    width: 80%;
    min-width: 5em;
    border-radius: 20px;
    max-width: 12em;
    margin-right: 1rem;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
}

nav ul li a {
    display: inline;
    margin-right: var(--margin-medium);
    text-decoration: none;
    color: var(--color-font-light);
    font-size: var(--font-large);
}

nav ul li a:hover {
    border-radius: 30px;
    color: var(--color-font);
    text-shadow: 1px 2px 2px var(--color-terciario);
    text-shadow: 0px 0px 20px var(--color-terciario);
}

.video-container {
    position: relative;
    width: 90%;
    height: 25vh;
    margin: 0 auto;
    border-radius: 1em;

}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 1em;
}

.banner-content {
    text-align: center;
    color: var(--color-font-light);
    position: relative;
    top: 5em;
}

.banner-content h2 {
    font-size: 1.7em;
    font-weight: bold;
}

/*Estilos de seccion nuestro equipo*/
section#empleados h2 {
    display: flex;
    color: var(--color-font-light);
    font-size: var(--font-large);
    margin: 2rem auto;
    font-weight: bold;
    justify-content: center;
}
.empleados {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.empleado {
    display: inline-block;
    margin: 1rem;
    padding: 2rem 1rem;
    background-color: var(--color-secundario);
    text-align: center;
    border: 2px solid var(--color-terciario);
    border-radius: 1em;
}

.empleado h3 {
    font-size: var(--font-medium);
    margin-bottom: var(--margin-small);
    font-weight: bold;
}

.empleado img {
    height: 25vh;
    margin-bottom: 0.5em;
    border-radius: 1em;
    border: 2px solid var(--color-primario);
}

.empleado p {
    font-weight: bold;
    object-fit: contain;
}

.empleado ul {
    padding: 0;
    text-align: left;
}

.empleado ul li {
    list-style: none;
}

.empleado a {
    display: block;
    margin-top: var(--margin-small);
    padding: var(--padding-small);
    background-color: var(--color-principal);
    color: var(--color-terciario);
    text-decoration: none;
    border-radius: 5px;
    transition: all 100ms;
}

.empleado a:hover {
    background-color: var(--color-tarjetas);
    color: var(--color-principal);
    font-weight: bold;
}


/*estilos de mapa*/

section#ubicacion {
    margin: auto;
}

#ubicacion h2 {
    font-size: var(--font-large);
    text-align: center;
}

.mapa {
    margin: 1.5rem auto;
    align-content: center;
    border-radius: 2em;
}

.mapa iframe {
    width: 100%;
    height: 100%;
    padding: 1em;
    border-radius: 2em;
    border: 0px;

}


/*HTML Servicio*/
/* .servicios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 1em;
} */
/* .servicios {
    display: grid;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;

    grid-template-columns: 1fr;
    grid-gap: 1em;
    padding: 2em;
} */

.servicios {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90%, 3fr));
}

/* .card {
    position: relative;
    width: 90%;
    height: 27rem;
    margin: 1em auto;
} */

.card {
    display: inline-block;
    margin: 1rem;
    padding: 2rem 1rem;
    height: 95%;
    background-color: var(--color-secundario);
    text-align: center;
    border: 2px solid var(--color-terciario);
    border-radius: 1em;

    backface-visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
}

/* .card .cara {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    padding-right: 10px;

} */
.card .cara {
    padding: 0.5em 0;
    width: 100%;
    height: 100%;
    margin: auto;
    backface-visibility: hidden;
    border-radius: 1em;
    overflow: hidden;
    transition: 0.5s;
}

.card .frontal {
    transform: perspective(600px)rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .frontal img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .frontal h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    line-height: 45px;
    color: var(--color-terciario);
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.card .trasera {
    transform: perspective(600px) rotateY(180deg);
    background: var(--color-tarjetas);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    color: var(--color-font-tarjetas);
    box-shadow: 0 5px 10px black;

}

.card .trasera .comprar {
    border-top: solid 1px var(--color-font-tarjetas);
    height: 50px;
    line-height: 50px;
}

.card .trasera .comprar a {
    color: var(--color-font-tarjetas);
}

.card:hover .frontal {
    transform: perspective(600px)rotateY(180deg)
}

.card:hover .trasera {
    transform: perspective(600px)rotateY(360deg)
}



/*HTML Contacto*/

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="tel"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--color-principal);
    border-radius: 5px;
    box-sizing: border-box;

}

form input[type="checkbox"] {
    margin-right: 5px;
}

form button {
    padding: 10px 20px;
    background-color: var(--color-btn);
    color: var(--color-font-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label,
legend {
    font-size: var(--font-medium);
    font-weight: bold;
    display: block;
    margin: 0.5rem;
}

/* Contenedor */
/* .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid var(--color-principal);
    border-radius: 10px;
    background-color: var(--color-secundario);
} */

.enviar {
    width: 40%;
    padding: var(--padding-small);
    font-size: var(--font-medium);
    color: var(--color-principal);
    background-color: var(--color-secundario);
    border: 2px solid var(--color-secundario);
    border-radius: 20px;
    transition: 0.5s all;
    cursor: pointer;
}

.enviar:hover {
    background-color: var(--color-background-tri-yellow);
    color: var(--color-background-tri);
    border: 2px solid var(--color-background-tri);
    transform: scale(1.1);
}

.horarios {
    display: flex;
    justify-content: center;
}

table {
    margin: var(--margin-small);
    text-align: center;
}

thead {
    background: var(--color-principal);
    color: var(--color-font-light);
    padding: var(--padding-small);
    font-weight: bold;
}

td,
th {
    border: 1px solid var(--color-principal);
    padding: var(--padding-small);
}

/*HTML Reserva*/
.reserva h2 {
    text-align: center;
    font-size: var(--font-large);
    color: var(--color-font-tarjetas);
    margin: var(--margin-medium);
}

.reserva form {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    margin: var(--margin-medium) auto;
    background-color: var(--color-secundario);
    padding: var(--padding-small);
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.reserva label {
    font-weight: bold;
    display: block;
    margin-bottom: var(--margin-small);
}

.reserva input[type="date"],
input[type="time"],
select {
    width: 100%;
    padding: var(--padding-small);
    border: 1px solid var(--color-principal);
    border-radius: 50px;
    box-sizing: border-box;
    font-size: var(--font-medium);
}

.reserva .reservar {
    align-self: center;
    width: 70%;
    margin-top: 1rem;
    padding: var(--padding-small);
    font-size: var(--font-medium);
    color: var(--color-font-tarjetas);
    background-color: var(--color-principal);
    border: 2px solid var(--color-tarjetas);
    border-radius: 20px;
    cursor: pointer;
}

.reservar:hover {
    background-color: var(--color-secundario);
    color: var(--color-principal);
    border: 2px solid var(--color-principal);
    transform: scale(1.1);
}


/* Estilos para dispositivos grandes */
@media (min-width: 1024px) {
    
    .grand-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .empleados {
        grid-template-columns: repeat(3, 1fr);
    }

   /*  .servicios {
        justify-content: space-between;
    } */

    /* .empleado {
        width: 30%;
    } */

    .banner-content {
        top: 7em;
    }

    .banner-content h2 {
        font-size: 4em;
        font-weight: bold;
    }

    .mapa {
        margin: 1.5rem auto;
        align-content: center;
        border-radius: 2em;
        width: 90%;
        height: 30vh;
    }
    
    .iconos-sociales i {
        font-size: 2.3em;
    }


}

/* Estilos para dispositivos medianos */
@media (min-width: 768px) and (max-width: 1023px) {
    .grand-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .empleados{
        grid-template-columns: repeat(2, 1fr);
    }
    
    /* .servicios {
        flex-direction: row;
        justify-content: center;
        gap: 1em;
    }
 */
    /* .card {
        width: 45%;
    }
 */
    .banner-content h2 {
        font-size: 2em;
        font-weight: bold;
    }

    .mapa iframe {
        height: 35vh;

    }

    section#ubicacion {
        width: 90%;
        margin-top: 5vh;
    }

    .iconos-sociales i {
        font-size: 1.7em;
    }

}

/* Estilos para dispositivos pequeños */
@media (max-width: 767px) {
    .grand-container {
        grid-template-columns: 1fr;
    }

    .empleados {
        grid-template-columns: 1fr;
    }
    
    header nav {
        flex-direction: column;
        gap: 10px;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    /* .servicios {
        flex-direction: column;
        align-items: center;
    } */

  /*   .card {
        width: 90%;
    } */


    .empleado {
        width: 90%;
    }

    section#ubicacion {
        display: block;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        width: 90%;
        flex-direction: column;
        align-items: center;
        margin-top: 3vh;
        margin-left: auto;
    }

    .mapa iframe {
        width: 100%;
        border-radius: 2em;
        border: 0px;
    }


    .iconos-sociales i {
        font-size: 1.3em;
    }

}

